<!-- Section: Design Block -->

<body class="fondo-dhl">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }

  </style>

  <!-- Jumbotron -->
  <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
                      background: hsla(0, 0%, 100%, 0.55);
                      backdrop-filter: blur(30px);
                      ">

          <div class="card-body p-5 shadow-5 text-center">
            <h2 class="fw-bold mb-5">Registrate en el Gestor de Muelles de DHL</h2>
            <form (ngSubmit)="register()">

              <!-- Email input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example3">Correo electrónico:</label>
                <input [(ngModel)]="newUsuario.usuario" name="email" type="text" id="form3Example3"
                  class="form-control" />

              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <label class="form-label" for="form3Example4">Contraseña:</label>
                <input [(ngModel)]="newUsuario.contrasenia" name="password" type="password" id="form3Example4"
                  class="form-control" />

              </div>


              <!-- Submit button -->
              <button color="primary" mat-raised-button type="submit" class="btn btn-primary btn-block mb-4">
                Register
              </button>

              <div class="col">
                <!-- back to login button -->
                <button color="accent" mat-raised-button routerLink="" type="button" class="btn btn-outline-primary">
                  Vuelta al Log In
                </button>

              </div>

            </form>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="src\assets\dhl-1-logo-svg-vector.svg" class="w-100 rounded-4 shadow-4" alt="" />
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</body>
<!-- Section: Design Block -->
