<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="reserva">
    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput required [formControl]="dni">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ID del pedido</mat-label>
      <input matInput required [formControl]="idpedido">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hora</mat-label>
      <mat-select [formControl]="hora" required>
        <mat-option *ngFor="let reserva of muelle.reservas; let i = index" value="{{i}}">{{i+1}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button fxLayoutAlign="center center" (click)="reservar()" type="submit" mat-raised-button color="primary">
    Reservar
  </button>
</div>
