<div fxLayout="row" fxLayoutAlign="center center">
  <form [formGroup]="formReserva">
    <mat-form-field appearance="fill">
      <mat-label>DNI</mat-label>
      <input matInput required [formControl]="dni">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>ID del pedido</mat-label>
      <input matInput required [formControl]="idpedido">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Matricula</mat-label>
      <input matInput required [formControl]="matricula">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Hora</mat-label>
      <mat-select [formControl]="hora" required>
        <div *ngFor="let reserva of muelle.reservas; let i=index">
          <mat-option *ngIf="reserva == null" value="{{i}}">
            {{tramos[i]}}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <button fxLayoutAlign="center center" (click)="reservar();formReserva.reset();" type="submit" mat-raised-button color="primary">
    Reservar
  </button>
</div>
