
    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3" style="grid-template-columns: 1fr 2fr;">

            <div fxFlex="25%"></div>

            <div  fxFlex="50%" class="d-flex">
                <form class="w-100 me-3">
                    <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
                </form>

            <div fxFlex="25%"></div>
    
            <div class="justify-content-end flex-shrink-0 dropdown" style="position: absolute; right: 1vw;">
              <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                <li><a routerLink="/uploadVideo" class="dropdown-item">Upload Video...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a (click)= "auth.logOut()"class="dropdown-item">Log out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>