<h1 style="text-align: center;"><strong>Cargar Muelle</strong></h1>

<ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)"
  (onFileLeave)="fileLeave($event)" dropZoneClassName="drop-file">
  <ng-template dropZoneClassName="letras" ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
    <div style="text-align: center ;">
      <span style="color: #a2a2a2; margin-right: 0.5vw ;">drag and drop csv de muelles or</span>
      <button mat-raised-button color="primary" type="button" (click)="openFileSelector()">Browse
        Files</button>
    </div>
