<h1 class="col animate__animated animate__fadeIn" style="text-align: center;"><strong>Mis Reservas</strong></h1>
<mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8 col animate__animated
  animate__fadeIn">

  <!-- nombreMuelle Column -->
  <ng-container matColumnDef="nombreMuelle">
    <mat-header-cell mat-header-cell *matHeaderCellDef> nombreMuelle </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva"> {{reserva.nombreMuelle}} </mat-cell>
  </ng-container>

  <!-- dni Column -->
  <ng-container matColumnDef="dni">
    <mat-header-cell mat-header-cell *matHeaderCellDef> dni </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva"> {{reserva.dni}} </mat-cell>
  </ng-container>

  <!-- matricula Column -->
  <ng-container matColumnDef="matricula">
    <mat-header-cell mat-header-cell *matHeaderCellDef> matricula </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva"> {{reserva.matricula}} </mat-cell>
  </ng-container>

  <!-- idPedido Column -->
  <ng-container matColumnDef="idPedido">
    <mat-header-cell mat-header-cell *matHeaderCellDef> idPedido </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva"> {{reserva.idPedido}} </mat-cell>
  </ng-container>

  <!-- actividad Column -->
  <ng-container matColumnDef="actividad">
    <mat-header-cell mat-header-cell *matHeaderCellDef> actividad </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva"> {{reserva.actividad}} </mat-cell>
  </ng-container>

  <!-- fechaHoraReserva Column -->
  <ng-container matColumnDef="fechaHoraReserva">
    <mat-header-cell mat-header-cell *matHeaderCellDef> fechaHoraReserva </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva"> {{reserva.fechaHoraReserva | date:'short':'UTC'}} UTC </mat-cell>
  </ng-container>

  <!-- tipoCamion Column -->
  <ng-container matColumnDef="tipoCamion">
    <mat-header-cell mat-header-cell *matHeaderCellDef> tipoCamion </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva"> {{reserva.tipoCamion}} </mat-cell>
  </ng-container>

  <!-- Acciones Column -->
  <ng-container matColumnDef="acciones">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let reserva">
      <button mat-button *ngIf="reserva.anulada==false" (click)="anularReserva(reserva.id)"
        style="color: white; background-color: red;">
        <mat-icon style="color: white;">not_interested</mat-icon> Anular
      </button>
      <button mat-button *ngIf="reserva.anulada==true" style="color: white; background-color: grey;" disabled>
        Anulada</button>
    </mat-cell>
  </ng-container>

  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
