<mat-toolbar class="mat-elevation-z8" color="primary">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <mat-toolbar-row class="searchForm" fxLayout="row" fxLayoutAlign="center center">
    <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 46.986 29.979">
      <path fill="#ffcb01" d="M0 0h46.986v29.979H0z" />
      <g fill="#d80613">
        <path
          d="M8.731 11.413L7.276 13.39h7.93c.401 0 .396.151.2.418-.199.27-.532.737-.735 1.012-.103.139-.289.392.327.392h3.243l.961-1.306c.596-.809.052-2.492-2.079-2.492l-8.392-.001z" />
        <path
          d="M6.687 17.854l2.923-3.972h3.627c.401 0 .396.152.2.418l-.74 1.008c-.103.139-.289.392.327.392h4.858c-.403.554-1.715 2.154-4.067 2.154H6.687zM23.425 15.699l-1.585 2.155h-4.181l1.585-2.155zM29.829 15.211H19.604l2.796-3.798h4.179l-1.602 2.178h1.865l1.604-2.178h4.179zM29.47 15.699l-1.585 2.155h-4.179l1.585-2.155zM.722 16.549H6.88l-.336.457H.722zM.722 15.699h6.784l-.337.457H.722zM.722 17.399h5.533l-.335.455H.722zM46.265 17.006h-6.136l.337-.457h5.799zM46.265 17.854h-6.759l.334-.455h6.425zM41.091 15.699h5.174v.458h-5.51zM38.413 11.413l-2.796 3.798h-4.429l2.798-3.798zM30.83 15.699s-.305.418-.454.618c-.524.71-.061 1.536 1.652 1.536h6.712l1.585-2.154H30.83z" />
      </g>
    </svg>

  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSLU5_eUUGBfxfxRd4IquPiEwLbt4E_6RYMw&usqp=CAU" />
    <!--https://img2.freepng.es/20190227/zox/kisspng-clip-art-computer-icons-openclipart-user-vector-gr-my-svg-png-icon-free-download-14-352-onlinewe-5c7704f7cff2b1.3948772115513039278518.jpg-->

    <h4 class="name">{{usuario.nombre + " " +usuario.apellidos}}</h4>
    <p *ngIf="this.auth.hasRole('ROL_ADMIN')" class="designation">Admin</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/home">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" routerLink="/profile">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <button *ngIf="this.auth.hasRole('ROL_USER')" mat-button class="menu-button" routerLink="/home/misReservas">
      <mat-icon>today</mat-icon>
      <span>Mis Reservas</span>
    </button>

    <!-- RESERVAS ADMIN -->
    <button *ngIf="this.auth.hasRole('ROL_ADMIN')" mat-button class="menu-button" routerLink="/home/reservas">
      <mat-icon>calendar_today</mat-icon>
      <span>Ver Reservas</span>
    </button>

    <button *ngIf="this.auth.hasRole('ROL_ADMIN')" mat-button class="menu-button" routerLink="/home/pedidos">
      <mat-icon>assignment</mat-icon>
      <span>Ver Pedidos</span>
    </button>

    <!-- RESERVAS TRANSPORTISTAS
    <button *ngIf="this.auth.hasRole('ROL_USER')" mat-button class="menu-button" routerLink="/home/reservastransportistas">
      <mat-icon>calendar_today</mat-icon>
      <span>Ver Reservas</span>
    </button> -->



    <mat-divider></mat-divider>

    <button (click)="this.auth.logOut()" mat-button class="menu-button" routerLink="/help">
      <mat-icon>exit_to_app</mat-icon>
      <span>LogOut</span>
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <!--mat-elevation-z8-->
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
