.center{
  display: grid;
  justify-content: center;
  border-radius: 0.25rem;
  background-color: lightgreen;
  padding: 0.5rem;
  color:black;
  font-size: 1rem;
  margin-left: 20rem;
  margin-right: 20rem;
  margin-top: 2rem;
  transition: 1s;

}
