<h1 class="col animate__animated animate__fadeIn" style="text-align: center;"><strong>Pedidos</strong></h1>
<mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8 col animate__animated
  animate__fadeIn">


  <!-- id Column -->
  <ng-container matColumnDef="id">
    <mat-header-cell mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.id}} </mat-cell>
  </ng-container>

  <!-- horaEntrada Column -->
  <ng-container matColumnDef="horaEntrada">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Hora de Entrada </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.horaEntrada | date:'short':'UTC'}} UTC </mat-cell>
  </ng-container>

  <!-- horaSalida Column -->
  <ng-container matColumnDef="horaSalida">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Hora de Salida </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.horaSalida | date:'short':'UTC'}} UTC </mat-cell>
  </ng-container>

  <!-- estado Column -->
  <ng-container matColumnDef="estado">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.estado}} </mat-cell>
  </ng-container>

  <!-- matricula Column -->
  <ng-container matColumnDef="matricula">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Matricula </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.matricula}} </mat-cell>
  </ng-container>

  <!-- tipo Column -->
  <ng-container matColumnDef="retraso">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Retraso </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.retraso}} minutos </mat-cell>
  </ng-container>

  <ng-container matColumnDef="tiempoTardado">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Tiempo Tardado </mat-header-cell>
    <mat-cell mat-cell *matCellDef="let pedido"> {{pedido.tiempoTardado}} minutos</mat-cell>
  </ng-container>


  <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
