/* You can add global styles to this file, and also import other style files */


.crop { 
    overflow:hidden; 
    white-space:nowrap; 
    text-overflow:ellipsis; 
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



/* .logo {
        background-image: url(src\assets\dhl-1-logo-svg-vector.svg) no-repeat scroll left top;
        width: 400px;
        height: 600px;
} */

.logo {
        background: url('https://upload.wikimedia.org/wikipedia/commons/b/bd/Test.svg') no-repeat scroll left top;
        width: 400px;
        height: 600px;
}